*.nav
*.snm
*.dvi 
*.toc 
*.aux 
*.gz 
*.out 
*.log 
*.bbl 
*.blg 
*.log 
*.spl 
*~ 
*.spl 
*.zip 
*.acn 
*.glo 
*.ist 
*.epub 
*.glsdefs  
*.lot 
*.fls 
*.lof 
*.fdb_latexmk
*.DS_Store
*.bcf
*.run.xml
*.pyg
.env
.snakemake
*.pdf
__pycache__/
.ipynb_checkpoints/
data/benchmark/data/*
docs/_minted-thesis
pres/_minted-arfc-pres
_minted-*
figure-log.txt
__MACOSX
data/**/2023-osier*
data/uiuc_demand_data.csv
checkpoint*
data/technology_costs.csv
data/datacenter_techlist.pkl
data/datacenter_problem.pkl
data/datacenter_results.pkl